header .top-header {
  background-color: #82ae46;
  color: rgb(255, 255, 255);
}

header .top-header .container .row .right .contant .dropdown .dropdown-menu {
  border: #82ae46 1px solid;
  border-radius: 0%;
}
header
  .top-header
  .container
  .row
  .right
  .contant
  .dropdown
  .dropdown-menu
  li
  .dropdown-item:hover {
  color: #82ae46;
}
header .botton-header {
  margin-top: 7px;
}
header .botton-header .container .row .left-side {
  margin-top: 7px;
}
header .botton-header .container .row .left-side .logo {
  width: 20%;
}
header .botton-header .container .row .left-side .logo a img {
  width: 100%;
}
header .botton-header .container .row .left-side .search-par {
  width: 100%;
}
header .botton-header .container .row .left-side .search-par .search-input {
  position: relative;
}
header
  .botton-header
  .container
  .row
  .left-side
  .search-par
  .search-input
  .form-control {
  position: absolute;
  text-align: start;
  width: 71%;
  left: 28%;
}
header
  .botton-header
  .container
  .row
  .left-side
  .search-par
  .search-input
  .form-select {
  position: absolute;
  width: 30%;

  /* left: 1px; */
}
header
  .botton-header
  .container
  .row
  .left-side
  .search-par
  .search-input
  .btn {
  position: absolute;
  /* right: 50%; */
  right: 1px;
  background-color: transparent;
  border: 0;
}
header .botton-header .container .row .right-side {
  margin-top: 2px;
}
header .botton-header .container .row .right-side div .dropdown .icon {
  display: flex;
  height: 39px;
  width: 39px;
  border: 1px solid #82ae46;
  align-items: center;
  justify-content: center;
}
header
  .botton-header
  .container
  .row
  .right-side
  div
  .dropdown
  .dropdown-toggle {
  align-items: center;
}
header
  .botton-header
  .container
  .row
  .right-side
  div
  .dropdown
  .dropdown-toggle
  .icon {
  position: relative;
  color: #82ae46;
  font-size: larger;
}
header
  .botton-header
  .container
  .row
  .right-side
  div
  .dropdown
  .dropdown-toggle
  .icon
  .notification {
  position: absolute;

  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: #ffffff;
  background-color: #82ae46;
  font-size: 11px;
  right: -6px;
  top: -5px;
  text-align: center;
}

header .botton-header .container .row .right-side div .dropdown .text {
  align-items: center;
  margin-left: 5px;
  font-weight: bold;
}
header .botton-header .container .row .right-side div .dropdown span a {
  font-weight: 400;
  text-decoration: none;
  color: #212529;
}
header .botton-header .container .row .right-side div .dropdown ul.show {
  border-top: #83ae46be 2px solid;
  border-radius: 0%;
  margin: -7px;
}
header
  .botton-header
  .container
  .row
  .right-side
  div
  .dropdown
  ul.dropdown-menu
  li
  a.dropdown-item
  i {
  color: #82ae46;
  margin-right: 12px;
}
header
  .botton-header
  .container
  .row
  .right-side
  div
  .dropdown
  ul.dropdown-menu
  .dropdown-item:hover {
  color: #82ae46;
}
@media screen and (max-width: 500px) {
  header .botton-header .container .row .right-side {
    margin-top: 10px;
  }
}
@media screen and (max-width: 336px) {
  header .botton-header .container .row .right-side {
    margin-top: 14px;
    font-size: small;
  }
}

.nav-part {
  background-color: #212529;
}

.nav-part .container .navbar .navbar-toggler {
  background-color: #ffffff;
}
.nav-part .container .navbar .offcanvas .navbar-nav .Category {
  background-color: #82ae46;
  width: 20%;
}

.nav-part .container .navbar .offcanvas .navbar-nav .nav-item .nav-link {
  z-index: 1;
  color: #ffffff;
}
.nav-part
  .container
  .navbar
  .offcanvas
  .navbar-nav
  .nav-item
  .Category-part
  .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  background-color: #82ae46;
  width: 100%;
}
.nav-part
  .container
  .navbar
  .offcanvas
  .navbar-nav
  .nav-item
  .Category-part
  .dropdown-menu {
  /* display: none; */
  border-radius: 0;
  margin-top: -8px;
  box-shadow: #212529 0px 1px 6px -2px;
  z-index: 4;
}

.nav-part
  .container
  .navbar
  .offcanvas
  .navbar-nav
  .nav-item
  .dropdown-menu
  .woman {
  width: 100%;
  height: 100%;
  margin-top: -15px;
}
.nav-part
  .container
  .navbar
  .offcanvas
  .navbar-nav
  .nav-item
  .dropdown-menu
  .row
  a {
  text-decoration: none;
  color: black;
  margin-left: 12px;
}
.nav-part
  .container
  .navbar
  .offcanvas
  .navbar-nav
  .nav-item
  .dropdown-menu
  .row
  .img-banner {
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 991px) {
  .nav-part .container .navbar .offcanvas .navbar-nav .nav-item {
    width: 100%;
    height: 40px;
    color: #212529;
  }
}
@media screen and (max-width: 991px) {
  .nav-part .container .navbar .offcanvas .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    color: #212529;
    margin-left: 12px;
    z-index: 1;
  }
}
@media screen and (max-width: 991px) {
  .nav-part .container .navbar .offcanvas .navbar-nav .nav-item .dropdown-menu {
    position: relative;
  }
}
/* @media screen and (max-width: 990px) {
  .nav-part .container .navbar .offcanvas .navbar-nav .nav-item {
  width: 100%;
  height: 40px;
  }
} */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
  .nav-part .container .navbar .offcanvas .navbar-nav {
    --bs-scroll-height: 500px;
  }
  .nav-part .container .navbar .offcanvas .navbar-nav .nav-item .dropdown-menu {
    align-items: center;
    margin-top: -50px;
    border-radius: 0;
    box-shadow: 0px 0px 4px 0px black;
  }
  .nav-part
    .container
    .navbar
    .offcanvas
    .navbar-nav
    .nav-item
    .dropdown-menu
    .row {
    font-size: 15px;
  }
  .nav-part
    .container
    .navbar
    .offcanvas
    .navbar-nav
    .nav-item
    .dropdown-menu
    .row
    .col-megamenu {
    margin-top: 12px;

    text-align: center;
  }
  .nav-part
    .container
    .navbar
    .offcanvas
    .navbar-nav
    .nav-item
    .dropdown-menu
    .woman {
    width: 100%;
    height: 100%;
    margin-top: -15px;
  }
  .nav-part
    .container
    .navbar
    .offcanvas
    .navbar-nav
    .nav-item
    .dropdown-menu
    .row
    a {
    text-decoration: none;
    color: black;
  }
  .nav-part
    .container
    .navbar
    .offcanvas
    .navbar-nav
    .nav-item
    .dropdown-menu
    .row
    .img-banner {
    width: 100%;
    height: 300px;
  }
}
/* ============ mobile view .end// ============ */

.slider-contant .slider .carousel .carousel-inner .carousel-item img.h {
  height: 80vh;
  animation-name: example;
  animation-duration: 5s;
  /* transition: transform 3s; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.slider-contant .slider .carousel .carousel-control-prev {
  margin-left: 60px;
}

@keyframes example {
  /* 0%   {transform: scale(1,1);} */

  100% {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(2);
  }
}

.slider-contant .slider .carousel .carousel-indicators ol li i {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  color: #82ae46;
}
/* .slider-contant .slider .carousel .carousel-indicators ol li i.active{

} */
@media (max-width: 991px) {
  .slider-contant .slider .carousel .carousel-indicators ol li i {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.slider-contant .adds .arrow {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  /* transform: rotate(90deg); */
  cursor: pointer;
  z-index: 5;
}

.slider-contant .adds span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid rgb(7, 7, 7);
  border-right: 5px solid rgb(8, 8, 8);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.slider-contant .adds:nth-child(2) {
  animation-delay: -0.2s;
}

.slider-contant .adds:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.slider-contant .arr2 {
  position: absolute;
  visibility: hidden;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  /* transform: rotate(90deg); */
  cursor: pointer;
  z-index: 5;
  border: #82ae46 solid 10px;
  width: 250px;
}
.slider-contant .arr2 h4 {
  width: 100%;
  height: 30px;
  padding: 0;
  color: #ffffff;
  background-color: #82ae46;
}
.slider-contant .arr2 img {
  width: 100%;
  height: 200px;
  margin-top: -8px;
}

.slider-contant .arrow:hover + .arr2 {
  visibility: visible;
}

.lift {
  z-index: 4;
  position: absolute;
  top: 50%;
  width: 6%;
  height: 300px;
  background-color: #82ae46;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .arrow,
  .lift {
    display: none;
  }
}
@media screen and (max-width: 668px) {
  .arrow {
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 950px) {
  .arrow {
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  .lift {
    top: 100%;
    left: 6%;
    transform: translate(-50%, -50%);
    width: 12%;
  }
}

.three .container .row .one1 {
  /* width: 25%; */
  height: 400px;
  position: relative;
  margin-bottom: 20px;
}
.three .container .row .one1 .item1 {
  width: 100%;
  height: 400px;
  position: relative;
}
.three .container .row .one1 .item1 img {
  width: 100%;
  height: 400px;
}
.three .container .row .one1 .item1 .contant {
  position: absolute;
  top: 54%;
  right: 30%;
  font-weight: bold;
  color: #f8f5f5;
}
.three .container .row .one1 .item1 .contant .shop_button {
  background-color: #82ae46;
  color: #f8f5f5;
  border-radius: 0;
  font-size: small;
  font-weight: bold;
}
.three .container .row .one1 .item1 .imgs {
  width: 100%;
  height: 350px;
}

.three .container .row .one1 figure {
  margin-bottom: 20px;
}
.three .container .row .one1 figure figcaption {
  background-color: #f8f5f557;
}

.three .container .row .one1 figure figcaption h3 .btnpos {
  position: absolute;
  transform: translate(50%, 50%);
  top: 50%;
  font-weight: bolder;
}
.three .container .row .one1 figure figcaption h3 .btnpos:hover {
  /* font-weight: bolder; */
  background-color: #82ae46;
  color: #ddd;
  border: #82ae46 1px solid;
}

.three .container .row .one1 .add {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 12px;
  padding: 5px;
  z-index: 1;
  font-size: smaller;
}

.flip_star .container .contant h5 {
  color: #82ae46;
  font-family: cursive;
}
.flip_star .container .contant h1 {
  font-weight: bold;
}
.flip_star .container .filp .demo {
  padding: 6em 2em;
}

.flip_star .container .filp .demo .flipster {
  margin: 0 -2em;
}

.BestOffer .container .contant h5 {
  color: #82ae46;
  font-family: cursive;
}
.BestOffer .container .contant h1 {
  font-weight: bold;
}

.BestOffer .container .products .row .product {
  margin-bottom: 20px;
  height: 330px;
}
.BestOffer .container .products .row .product figure {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: transparent;
}
.BestOffer .container .products .row .product figure img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  border-top-left-radius: 0;
}
.BestOffer .container .products .row .product figure figcaption {
  background-color: #dddddd3f;
}
.BestOffer .container .products .row .product figure figcaption h3 {
  position: absolute;
  display: inline;
  transform: translate(-50% ,-50%);
  left: 50%;
  top: 50%;
  width: 54%;
}
.BestOffer .container .products .row .product figure figcaption h3 button {
  color: #82ae46;
  font-weight: 500;
  border: #82ae46 2px solid;
  background-color: #ffffff;
  width: 100%;
  
}
.BestOffer .container .products .row .product .btn-toolbar {
  display: none;
  
  width: 100%;
  border: 0;
  padding: 12px;
  box-shadow: 0px 12px 9px -9px #00000047;
}
.BestOffer .container .products .row .product .btn-toolbar button {
  border: #2125298f 1px solid;
  border-radius: 0;
}
.BestOffer .container .products .row .product .btn-toolbar .tow {
  background-color: #82ae46;
  font-weight: 500;
  /* width: 50%; */
}
.BestOffer .container .products .row .product:hover .btn-toolbar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /* justify-content: center; */
}
.BestOffer .container .products .row .product .discount  {
  position: absolute;
  z-index: 5;
  color: white;
  /* left: ; */
}
.BestOffer .container .products .row .product .discount h6  {
 
  background: #82ae46;
  width: 63px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BestOffer .container .products .row .product .discount .add {
margin-top: -8px;
}

.timer{
  width: 100%;
  height: 691px;
  background-image: url('../photo/WhatsApp Image 2023-09-27 at 00.41.54_d4fd5b6a.jpg');
  background-repeat: no-repeat;
  transform: scale(1,.7);
  background-color: #eff5f3;
}
.timer .container .all{
width: 50%;
position: absolute;
right:  0 ;
top: 155px;

}
.timer .container .all .contant h6{

  color: #82ae46;
  font-family: cursive;
  font-size: 30px;

}
.timer .container .all .contant h2{

font-weight: 500;
font-size: 40px;

}

.timer .container .all .contant h3{

  color: #010200a4;
  

}
.timer .container .all .time{
width: 100%;
  text-align: center;
}
.timer .container .all .time .col-3{
text-align: center;
}
.timer .container .all .time p{
  font-size: 50px;
  font-weight: 500;
  text-align: center;
 
}


  @media screen and (max-width: 990px) {
    .timer .container .all{
      width: 100%;
      position: absolute;
      /* right:  0 ; */
      top: 155px;
      
    } 
    .timer .container .all .time #text{
      text-align: start;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
     
    }
    .timer .container .all .time {
      display: flex;
      justify-content: center;
     
    }
   
  }
 
  @media screen and (max-width: 350px) {
    .timer .container .all{
      width: 100%;
      position: absolute;
      /* right:  0 ; */
      top: 155px;
      
      } 
      .timer .container .all .time #text{
        /* text-align: start; */
        font-size: 20px;
        font-weight: 500;
        
      }
      
    }